OPENAI_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_PROJECT=

USE_LOCAL_LLM=false
DASHSCOPE_API_KEY=
QWEN_MODEL_NAME=qwen-plus
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

LLM_MODEL_NAME=gpt-4o-mini
OLLAMA_MODEL_NAME=qwen2.5:3b
EMBEDDINGS_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
